<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="174225001032-atcisu9sdetkrj4gihub6vg2gts1o7ee.apps.googleusercontent.com">
    <title>task is given by ivya mam and SP sir</title>
   </head>
 <body>
    <h1> Google & Email authentication </h1> 
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <p id="name"></p>
    <script>function onSignIn(googleUser) {
        //  var profile = googleUser.getBasicProfile();
        //       console.log('ID: ' + profile.getId()); 
        //       console.log('Name: ' + profile.getName());
        //       console.log('Image URL: ' + profile.getImageUrl());
        //      console.log('Email: ' + profile.getEmail());
              var id_token = googleUser.getAuthResponse().id_token;
              // console.log(id_token)
               var xhr = new XMLHttpRequest();
               
               xhr.open('POST', 'login_user');
               xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
              console.log('Signed in as: ' + xhr.responseText);
                  if(xhr.responseText == 'success'){
                    signOut()
                    location.assign('/profile')
                  }

              };
             xhr.send(JSON.stringify({token: id_token}));

                   }       
    </script>
              <a href="#" onclick="signOut();">Sign out</a>
               <script>
                   function signOut() {
                   var auth2 = gapi.auth2.getAuthInstance();
                 auth2.signOut().then(function () {
                console.log('User signed out.');
                 });
                  }
</script>
</body>
</html>

 